.issues {
  padding: 0;
    margin: 0;
    list-style-type: none;
    list-style-position: inside;
}

.issue {
    transition: padding 0.4s;
    margin-top: .25em;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}


.issue-number {
    color: grey;
    text-decoration: none;
    pointer-events: auto;
}

.issue-title {
    margin-left: .2em;
}

.over  {
    padding: 2em 0 0 0 ;
}

.issue-content {
    pointer-events: none;
    padding: 0.25em 0.5em;
    background-color: rgba(110, 220, 255, 0.2);
    border: 1px solid rgba(110, 220, 255, 0.5);
}

.issue-placeholder {
    border: 2px dashed rgba(110, 220, 255, 0.5);
}

.station  {
    float: left;
    width: 30%;
    list-style-type: none;
    list-style-position: inside;
    margin: 0 0 0 1em;
    padding: 0;
}
.stations {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

label {
    float: left;
    padding: .4em;
}

select {
    display: block;
}


.issue-labels {
    margin: 0;
    padding: 0;
}

.issue-label {
    font-size: 0.7em;
    color: #ffffff;
    list-style-type: none;
    display: inline-block;
    border-radius: .3em;
    padding: .3em .5em;
    margin-left: .2em;
}
