.issues {
  padding: 1em;
}

.issue {
  margin: 0.25em 0;
  padding: 0.25em 0.5em;

  background-color: rgba(110, 220, 255, 0.2);
  border: 1px solid rgba(110, 220, 255, 0.5);

  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.issue-number {
  position: absolute;

  color: grey;
  text-decoration: none;
}

.issue-title {
  margin-left: 2em;
}
