.issues {
  padding: 0;
    margin: 0;
    list-style-type: none;
    list-style-position: inside;
}

.issue {
    margin-top: .25em;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.issue-number {
    position: absolute;
    color: grey;
    text-decoration: none;
    pointer-events: auto;
}

.issue-title {
    margin-left: 2em;
}

.over  {
    padding: 2em 0 0 0 ;
}

.issue-content {
    pointer-events: none;
    padding: 0.25em 0.5em;
    background-color: rgba(110, 220, 255, 0.2);
    border: 1px solid rgba(110, 220, 255, 0.5);
}

.station  {
    float: left;
    width: 30%;
    list-style-type: none;
    list-style-position: inside;
    margin: 0 0 0 1em;
    padding: 0;
}
.stations {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}


