<div class="heading">
    <h1>{{repoName}}-board</h1>
    <label class="search-box">Search in issues:
        <input ng-model="searchText" type="text">
    </label>
</div>

<ul class="stations">
    <li ng-repeat="station in stations" class="station-wrapper">

        <div class="station">

            <h2>{{station.name}}</h2>

            <ul class="issues"
                data-json='{ "stationId": {{station.id}}, "name": "{{station.name}}" }'
                id="station-{{station.id}}">

                <li class="issue" ng-click="onClick(issue)"
                    ng-repeat="issue in station.issues | filter:searchText"
                    drop="ondrop"
                    draggable droppable
                    data-json='{ "id": "issue-{{issue.id}}", "issueId": {{issue.id}}, "number": {{issue.number}}, "stationId": {{station.id}} }'
                    id="issue-{{issue.id}}">
                    <div class="issue-content" >
                        <img ng-show="issue.assignee.avatar_url" class="issue-avatar" ng-src="{{issue.assignee.avatar_url}}"/>
                        <a href="{{issue.html_url}}" target="_blank"  class="issue-number">#{{issue.number}}</a>
                        <span class="issue-title">{{issue.title}}</span>
                        <ul class="issue-labels">
                            <li class="issue-label"
                                ng-repeat="label in issue.labels"
                            style="background-color: #{{label.color}}">{{label.name}}</li>
                        </ul>

                    </div>
                </li>
                <li class="issue "
                    drop="ondrop"
                    droppable
                    data-json='{ "id": "issue-{{issue.id}}", "issueId": 0, "stationId": {{station.id}} }'
                    id="issue-{{issue.id}}">
                    <div class="issue-content issue-placeholder">
                        <a href="{{issue.url}}" class="issue-number"></a>
                        <span class="issue-title"></span>
                    </div>
                </li>
            </ul>
        </div>
    </li>
</ul>

