<div class="heading">
    <h1>{{repoName}}-board</h1>
    <label class="search-box">Search in issues:
        <input ng-model="searchText" type="text">
    </label>
</div>
<ul class="stations">
    <div ng-repeat="station in stations" class="station-wrapper">

        <li class="station">


            <h2>{{station.name}}</h2>

            <ul class="issues"
                data-json='{ "stationId": {{station.id}} }'
                id="station-{{station.id}}">

                <li class="issue"
                    ng-repeat="issue in station.issues | filter:searchText"
                    drop="ondrop(issue, station)"
                    draggable droppable
                    data-json='{ "id": "issue-{{issue.id}}", "issueId": {{issue.id}}, "stationId": {{station.id}} }'
                    id="issue-{{issue.id}}">
                    <div class="issue-content">
                        <a href="{{issue.html_url}}" class="issue-number">#{{issue.number}}</a>
                        <span class="issue-title">{{issue.title}}</span>
                        <ul class="issue-labels">
                            <li class="issue-label"
                                ng-repeat="label in issue.labels"
                                style="background-color: #{{label.color}}">{{label.name}}</li>
                        </ul>
                    </div>
                </li>
                <li class="issue "
                    drop="ondrop"
                    droppable
                    data-json='{ "id": "issue-{{issue.id}}", "issueId": 0, "stationId": {{station.id}} }'
                    id="issue-{{issue.id}}">
                    <div class="issue-content issue-placeholder">
                        <a href="{{issue.url}}" class="issue-number"></a>
                        <span class="issue-title"></span>                </div>
                    </div>
                </li>
            </ul>
        </li>
    </div>
</ul>
