<h3 class="title">
  <a href="{{selectedIssue.html_url}}" target="_blank">
    {{selectedIssue.title}}
  </a>
</h3>
<img ng-show="selectedIssue.assignee.avatar_url" class="issue-avatar" ng-src="{{selectedIssue.assignee.avatar_url}}"/>
<div class="body">
  <pre>
    {{selectedIssue.body}}
  </pre>
</div>
<div>

    <div class="comment" ng-repeat="comment in selectedIssue.comments">
        <div class="user"><img class="issue-avatar comment-avatar" ng-src="{{comment.user.avatar_url}}"/> {{comment.user.login}}
            <span class="dato"> {{comment.created_at}}</span></div>
        {{comment.body}}
    </div>
</div>

